<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="registration-form">
        <h1>Регистрация часть - 2</h1>
        <form th:action="@{/auth/completeRegistrationForm}" method="post">
            <div class="form-group">
                <label for="firstName">Имя</label>
                <input type="text" id="firstName" name="firstName" placeholder="Введите имя" required>
            </div>
            <div class="form-group">
                <label for="lastName">Фамилия</label>
                <input type="text" id="lastName" name="lastName" placeholder="Введите фамилию" required>
            </div>
            <button type="submit">Завершить регистрацию</button>
        </form>
    </div>
</div>
</body>
</html>