<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="main-content">
        <div class="profile-info">
<!--            <img src="profile-photo.jpg" alt="Profile Photo" class="profile-photo">-->
            <h2>Имя: <span th:text="${user.firstName}"></span></h2>
            <h2>Фамилия: <span th:text="${user.lastName}"></span></h2>
        </div>
        <div th:if="${!isOwnProfile}">
            <div th:if="${friendStatus.isPresent() && friendStatus.get().name() == 'PENDING'}">
                <span>Заявка уже отправлена</span>
            </div>
            <div th:if="${!areFriends && (!friendStatus.isPresent() || friendStatus.get().name() == 'REJECTED')}">
                <form th:action="@{/friends/sendFriendRequest/{id}(id=${user.id})}" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit">Добавить в друзья</button>
                </form>
            </div>
            <div th:if="${areFriends}">
                <form th:action="@{/friends/deleteFriend/{id}(id=${user.id})}" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit">Удалить</button>
                </form>
            </div>
        </div>
        <div class="posts">
            <h1>Посты</h1>
            <div class="post">
                <p>Это мой первый пост!</p>
            </div>
            <div class="post">
                <p>Сегодня был отличный день!</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>