<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="chat-container">

        <!-- Заголовок чата -->
        <div class="chat-header">
            <h1><span th:text="${chatPartnerName}"></span></h1>
        </div>

        <!-- Область с сообщениями -->
        <div class="chat-messages" id="chat-messages">
            <ul>
                <!-- Сообщения -->
                <li th:each="message : ${messages}"
                    th:classappend="${message.sender.username == #authentication.principal.username} ? 'message sent' : 'message received'">
                    <p th:text="${message.text}">Текст сообщения</p>
<!--                    <span class="time" th:text="${#dates.format(message.timestamp, 'HH:mm')}">10:30</span>-->
                </li>
            </ul>
        </div>

        <!-- Форма отправки сообщения -->
        <form th:action="@{/messages/{chatId}/send(chatId=${chatId})}" method="post" class="chat-form">
            <input type="text" name="messageText" placeholder="Написать сообщение..." autocomplete="off" required>
            <button type="submit">Отправить</button>
        </form>

    </div>

</div>
</body>
</html>