<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        <ul>
            <li><a th:href="@{/profile/profilePage/{id}(id=${#authentication.principal.id})}">Моя страница</a></li>
            <li><a th:href="@{/friends/friendsList}">Друзья</a></li>
            <li><a th:href="@{/friends/friendsList}">Сообщения</a></li>
            <li>
                <form th:action="@{/profile/logout}" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit">Выйти</button>
                </form>
            </li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <h1>Список друзей</h1>
        <div class="friends-list">
            <ul>
                <li th:each="friend : ${friends}">
                    <div class="friend">
                        <a th:href="@{/profile/profilePage/{id}(id=${friend.id})}">
                            <h2 th:text="${friend.firstName} + ' ' + ${friend.lastName}">Имя друга</h2>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <a th:href="@{/friends/friendsRequests}">Запросы в друзья</a>
    </div>
</div>
</body>
</html>