<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="main-content" class="main-content">
    <div class="profile-info">
        <!--            <img src="profile-photo.jpg" alt="Profile Photo" class="profile-photo">-->
        <h2>Имя: <span th:text="${user.firstName}"></span></h2>
        <h2>Фамилия: <span th:text="${user.lastName}"></span></h2>
    </div>
    <div th:if="${!isOwnProfile}">
        <div th:if="${friendStatus.isPresent() && friendStatus.get().name() == 'PENDING'}">
            <span>Заявка уже отправлена</span>
        </div>
        <div th:if="${!areFriends && (!friendStatus.isPresent() || friendStatus.get().name() == 'REJECTED')}">
            <form th:action="@{/friends/sendFriendRequest/{id}(id=${user.id})}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit">Добавить в друзья</button>
            </form>
        </div>
        <div>
            <div th:if="${chatId != null}">
                <a th:href="@{/messages/{id}(id=${chatId})}">написать</a>
            </div>
            <div th:if="${chatId == null}">
                <form th:action="@{/messages/createChatRoom/{userId}(userId=${user.id})}" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit">написать</button>
                </form>
            </div>
        </div>
        <div th:if="${areFriends}">
            <form th:action="@{/friends/deleteFriend/{id}(id=${user.id})}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit">Удалить</button>
            </form>
        </div>
    </div>
    <div class="posts">
        <h1>Посты</h1>
        <button th:if="${isOwnProfile}" id="writePostBtn">Написать пост</button>
        <ul>
            <li th:each="post : ${posts}">
                <h3 th:text="${post.title}" th:title="${post.title}"></h3>
                <p th:text="${post.content}"></p>
                <span th:text="${#temporals.format(post.createdAt, 'dd.MM.yyyy HH:mm')}"></span>
                <a th:href="@{/profile/profilePage/{id}(id=${post.author.id})}" th:text="${post.author.firstName}"></a>
                <form th:action="@{/posts/deletePost/{id}(id=${post.id})}" method="post" th:method="delete">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit">Удалить пост</button>
                </form>
            </li>
        </ul>
    </div>
    <!-- Modal Structure -->
    <div id="postModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form class="modal-form" th:action="@{/posts/create}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <label for="title">Заголовок:</label>
                <input type="text" id="title" name="title" required>
                <label for="content">Содержимое:</label>
                <textarea id="content" name="content" rows="4" required></textarea>
                <button type="submit">Опубликовать</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>